<html>
    <head>
        <meta charset="UTF-8">
        <style>
            table {
                border-collapse: collapse; 
            }
            table * {
                border: 1px solid black;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <h1>Brewery of United States</h1>
        <h2>Adresses of brewery:</h2>
        <table>{{{breweryAddresses}}}</table>
        <h2>Filtered brewery:</h2>
        <table>{{{filteredBrewery}}}</table>
    </body>
</html>